@use './colors.scss' as colors;

.brands {
  &__title {
    padding: 16px 16px 16px;
    border-top: 1px solid colors.$color-light-blue;
    color: colors.$color-gray;
    background: linear-gradient(
      to right,
      colors.$color-background 0%,
      colors.$color-white 100%
    );
    font: normal 16px/24px sans-serif;
    letter-spacing: -0.2px;
    text-transform: uppercase;
  }

  &__list {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    margin: 16px;
    list-style: none;
  }

  &__item {
    min-width: 240px;
    height: 72px;
    background-color: colors.$color-white;
    border-radius: 6px;
    box-sizing: border-box;
  }

  &__link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border: 1px solid colors.$color-light-gray;
    border-radius: 6px;
    transition: all 0.1s ease-in-out;

    img {
      max-height: 40px;
    }
  }

  &__expand-btn {
    display: none;
  }

  @media (min-width: 768px) {
    .swiper__gradient {
      display: none;
    }

    &__title {
      padding: 16px 24px 16px;
    }

    &__list {
      flex-wrap: wrap;
      max-height: 160px;
      overflow: hidden;
      gap: 16px 24px;
      margin: 24px 24px 0;
      transition: all 0.2s ease-in-out;

      &--expanded {
        max-height: 540px;
      }
    }

    &__item {
      min-width: 224px;
    }

    &__expand-btn {
      display: flex;
      align-items: center;
      gap: 16px;
      margin: 24px 0 34px 32px;

      &--rotated img {
        transform: rotate(180deg);
      }

      img {
        transition: all 0.15s ease-in-out;
      }
    }

    &__expand-text {
      font:
        500 16px/24px 'TT Lakes',
        sans-serif;
      letter-spacing: -0.2px;
      text-align: left;
    }
  }

  @media (min-width: 1120px) {
    .brands-container {
      max-width: 1120px;
      margin: 0 auto;
    }

    &__title {
      padding: 16px 32px 16px;
    }

    &__list {
      column-gap: 32px;
      margin: 24px 32px 0;
    }

    &__item {
      width: calc(25% - 24px);
    }

    &__expand-btn {
      margin: 24px 0 34px 40px;
    }
  }

  @media (min-width: 768px) and (max-width: 1440px) {
    &__list {
      justify-content: space-between;
      margin: 16px 24px;
    }

    &__item {
      width: calc(25% - 16px);
      min-width: auto;
      flex-grow: 1;
      transition: all 0.3s ease-in-out;
    }

    &__expand-btn {
      margin: 24px 0 34px 32px;
    }
  }
}
