.right-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}
.right-container--overlaid {
  max-height: 100vh;
  overflow: hidden;
}

@media (min-width: 1120px) {
  .desktop-container {
    display: flex;
    justify-content: flex-end;
    max-width: 1440px;
    margin: 0 auto;
  }
  .right-container {
    position: relative;
    width: calc(100vw - 320px);
    max-width: 1120px;
  }
}
