@use './colors.scss' as colors;

.footer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  border-top: 1px solid colors.$color-light-blue;
  padding: 15px 16px 20px;

  &__text {
    text-align: center;
    color: colors.$color-gray;
  }

  @media (min-width: 768px) {
    flex-direction: row;
    justify-content: space-between;
    padding: 31px 24px 24px;

    &__text:nth-child(1) {
      text-align: left;
    }

    &__text:nth-child(3) {
      text-align: right;
      width: 212px;
    }
  }

  @media (min-width: 1120px) {
    padding: 31px 32px 24px;

    &__text:nth-child(3) {
      width: 330px;
    }
  }
}
