// menu.scss
@use './colors.scss' as colors;

.menu {
  position: fixed;
  top: 0;
  left: -320px;
  width: 320px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 24px;
  background-color: colors.$color-white;
  font-size: 16px;
  overflow-y: auto;
  transition: left 0.3s ease;
  z-index: 10;

  &--visible {
    left: 0;
  }

  &__btn {
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    &--close {
      display: block;
    }

    &--search,
    &--call,
    &--chat,
    &--profile {
      display: flex;
    }
  }

  @media (min-width: 1120px) {
    left: 0;

    &__btn--close {
      display: none;
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;

    &-left {
      display: flex;
      align-items: center;
      gap: 17px;
    }

    &-right {
      display: flex;
      align-items: center;
    }
  }

  &__links {
    font-weight: 500;
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-top: 50px;
  }

  &__link {
    position: relative;
    font-size: 16px;
    font-weight: 500;
    color: colors.$color-black;

    &--active {
      color: colors.$color-black;

      &::before {
        content: '';
        position: absolute;
        top: -6px;
        left: -24px;
        border-radius: 0 5px 5px 0;
        height: 32px;
        width: 4px;
        background-color: colors.$color-blue;
      }
    }

    &:hover {
      color: colors.$color-gray;
    }
  }

  &__bottom {
    display: flex;
    flex-direction: column;
    margin-top: 32px;
  }

  &__btns {
    display: flex;
    gap: 16px;
  }

  &__mail {
    margin-top: 16px;
    font-size: 16px;
    font-weight: 500;
  }

  &__phone {
    margin-top: 12px;
    font-weight: 700;
    font-size: 24px;
  }

  &__lang-list {
    margin-top: 40px;
    display: flex;
    gap: 7px;
    color: colors.$color-black;
    cursor: pointer;
    font-weight: 500;
  }

  &__lang-item {
    color: colors.$color-black;
    cursor: pointer;
    font-weight: 500;
    transition: color 0.3s ease;

    &:hover {
      color: colors.$color-gray;
    }

    &--active {
      color: colors.$color-blue;
    }
  }
}

@media (min-width: 1120px) {
  .menu {
    display: flex;
    position: fixed;
    z-index: 10;
    left: 0;
    background-color: colors.$color-white;

    &__btn--close {
      display: none;
    }
  }
}

@media (min-width: 1441px) {
  .menu {
    left: calc(0px + ((100vw - 1440px) / 2));
  }
}
