@use './colors.scss' as colors;

.modal {
  position: fixed;
  top: 0;
  z-index: 20;
  right: -120%;
  height: 100vh;
  display: flex;
  justify-content: flex-end;
  transition:
    right 0.2s ease-in-out,
    opacity 0.2s ease-in-out;

  &--shown {
    right: 0;
  }

  &__content {
    position: relative;
    padding: 24px 16px;
    width: 100vw;
    height: 100vh;
    background-color: colors.$color-white;
    overflow-y: auto;

    @media (min-width: 520px) {
      width: 440px;
      overflow-y: visible;
    }

    @media (min-width: 768px) {
      padding: 6px 16px;
    }

    @media (min-width: 1120px) {
      padding: 10px 16px;
    }
  }

  &__title {
    margin: 40px 0 24px;
    font-size: 24px;
    line-height: 40px;
    letter-spacing: -0.6px;

    &::before {
      position: absolute;
      left: 0;
      display: block;
      height: 40px;
      border-right: 4px solid colors.$color-blue;
      border-radius: 0 4px 4px 0;
      content: '';
    }

    @media (min-width: 520px) {
      margin-top: 24px;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__input {
    width: 100%;
    min-height: 48px;
    border-radius: 8px;
    border: 1px solid colors.$color-light-gray;
    padding: 12px 16px;
    font-family: 'TT Lakes', sans-serif;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.2px;
  }

  &__agreement {
    line-height: 16px;
  }

  &__link {
    color: colors.$color-pink;
  }

  &__submit-button {
    justify-self: flex-end;
    align-self: flex-end;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 16px;
    padding: 4px 12px;
    width: 120px;
    height: 32px;
    color: colors.$color-white;
    background-color: colors.$color-pink;
    transition: background-color 0.3s;

    &:hover {
      background-color: colors.$color-pink;
    }
  }

  &__btn {
    background-color: transparent;

    @media (min-width: 520px) {
      position: absolute;
      left: -60px;
      top: 48px;
      z-index: 30;
    }

    @media (min-width: 768px) {
      top: 30px;
    }

    @media (min-width: 1120px) {
      top: 30px;
    }
  }

  &__submit-text {
    font-size: 12px;
    line-height: 24px;
    letter-spacing: -0.15px;
    font-weight: bold;
    text-transform: uppercase;
  }

  @media (max-width: 1119px) {
    box-shadow: -16px 0px 52px 0px #0e185033;
    height: 100vh;
    backdrop-filter: blur(10px);
  }
}
