@use './colors.scss' as colors;

.nav {
  position: relative;
  min-height: 88px;
  max-height: 88px;

  &__left,
  &__right {
    display: flex;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 24px;
  }

  &__left {
    gap: 24px;
    padding-left: 16px;
  }

  &__right {
    position: absolute;
    right: 0;
    top: 0;
    padding-right: 16px;
  }
}

.nav__burger {
  display: none;
  align-items: center;
  min-width: 40px;
  height: 40px;
  background-color: colors.$color-pink;
  border-radius: 50%;
  cursor: pointer;
  padding: 0;
  border: none;

  img {
    width: 40px;
    height: 40px;
  }
}

.nav__logo {
  display: none;

  &::before {
    content: '';
    display: inline-block;
    width: 2px;
    height: 32px;
    border-radius: 2px;
    background-color: colors.$color-light-gray;
    margin-right: 20px;
  }
}

.nav-links {
  display: flex;
  gap: 32px;
  font-weight: 500;

  &__item {
    height: 40px;
    display: flex;
    gap: 9px;
    align-items: center;
    font-size: 16px;
  }

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 40px;
    min-height: 40px;
  }

  > :nth-child(-n + 3) {
    display: none;
  }
}

@media screen and (max-width: 1119px) {
  .nav-links {
    > :nth-child(-n + 3) {
      display: block;
    }

    > :nth-last-child(2) {
      position: relative;
      margin-left: 20px;

      &::before {
        content: '';
        position: absolute;
        margin-top: 4px;
        top: 0;
        left: -18px;
        width: 2px;
        height: 32px;
        border-radius: 2px;
        margin-right: 20px;
        background-color: colors.$color-light-gray;
      }
    }

    gap: 20px;
    padding: 0;

    &__item {
      display: inline-block;

      span {
        display: none;
      }
    }
  }

  .nav {
    display: flex;
    justify-content: space-between;
    background-color: colors.$color-white;
    padding: 18px var(--container-padding);

    &__right {
      position: inherit;
      display: block;
      padding-right: 24px;
    }

    &__left {
      padding-left: 24px;
    }
  }

  .nav__burger {
    display: flex;
  }

  .nav__logo {
    display: flex;
    align-items: center;

    img {
      min-width: 97px;
      min-height: 51px;
    }
  }
}

@media screen and (width >= 1120px) {
  .nav-links__item {
    padding-top: 24px;
  }
}

@media screen and (max-width: 767px) {
  .nav-links {
    > :nth-child(-n + 3) {
      display: none;
    }

    gap: 16px;
  }
  .nav__logo::before {
    display: none;
  }

  .nav {
    &__left {
      gap: 16px;
      padding-left: 16px;
    }

    &__right {
      padding-right: 16px;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1120px) {
  .nav-links {
    gap: 16px;
  }
}
