.section__title {
  padding: 15px 16px 16px;
  border-top: 1px solid #d9fff5;
  color: #7e7e82;
  background: linear-gradient(to right, #f8f8f8 0%, #ffffff 100%);
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  text-align: left;
  font-weight: normal;
  text-transform: uppercase;
}
.section__content {
  padding-right: 32px;
}
.section__list {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  margin: 16px;
}
.section__expand-button {
  display: none;
}

@media (min-width: 768px) {
  .section__title {
    padding: 15px 24px 16px;
  }
  .section__content {
    padding-right: 0;
  }
  .section__list {
    flex-wrap: wrap;
    max-height: 160px;
    overflow: hidden;
    gap: 16px 24px;
    margin: 24px 24px 0;
    transition: all 0.2s ease-in-out;
  }
  .section__list--expanded {
    max-height: 1000px;
    transition: all 0.2s ease-in-out;
  }
  .section__expand-button {
    display: flex;
    align-items: center;
    gap: 16px;
    margin: 18px 0 24px 32px;
    img {
      transition: all 0.15s ease-in-out;
    }
  }
  .section__expand-description {
    font-family:
      TT Lakes,
      sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.2px;
    text-align: left;
  }
  .section__expand-button--rotated {
    img {
      transform: rotate(180deg);
      transition: all 0.15s ease-in-out;
    }
  }
}

@media (min-width: 1120px) {
  .section__title {
    padding: 15px 32px 16px;
  }
  .section__list {
    column-gap: 32px;
    margin: 24px 32px 0;
  }
  .section__expand-button {
    margin: 18px 0 24px 40px;
  }
}
