body {
  font-family: "TT Lakes", sans-serif;
  background-color: rgb(248, 248, 248);
  color: #1b1c21;
  font-size: 14px;
  overflow-x: hidden;
}

html {
  box-sizing: border-box;
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 320px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 24px;
  background-color: #fff;
  font-size: 16px;
  box-shadow: 16px 0 52px 0 rgba(14, 24, 80, 0.2);
  overflow-y: auto;
}
.menu__header {
  display: flex;
  justify-content: space-between;
}
.menu__header-left {
  display: flex;
  align-items: center;
  gap: 17px;
}
.menu__header-right {
  display: flex;
  align-items: center;
}
.menu__btn {
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu__links {
  font-weight: 500;
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-top: 50px;
}
.menu__link {
  position: relative;
  font-size: 16px;
  font-weight: 500;
  color: #1b1c21;
}
.menu__link--active {
  color: #1b1c21;
}
.menu__link--active::before {
  content: "";
  position: absolute;
  top: -6px;
  left: -24px;
  border-radius: 0 5px 5px 0;
  height: 32px;
  width: 4px;
  background-color: #41f6d7;
}
.menu__link:hover {
  color: #7e7e82;
}
.menu__bottom {
  display: flex;
  flex-direction: column;
  margin-top: 32px;
}
.menu__btns {
  display: flex;
  gap: 16px;
}
.menu__mail {
  margin-top: 16px;
  font-size: 16px;
  font-weight: 500;
}
.menu__phone {
  margin-top: 12px;
  font-weight: 700;
  font-size: 24px;
}
.menu__lang-list {
  margin-top: 40px;
  display: flex;
  gap: 7px;
  color: #1b1c21;
  cursor: pointer;
  font-weight: 500;
}
.menu__lang-item {
  color: #1b1c21;
  cursor: pointer;
  font-weight: 500;
  transition: color 0.3s ease;
}
.menu__lang-item:hover {
  color: #7e7e82;
}