.footer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  border-top: 1px solid #d9fff5;
  padding: 15px 16px 20px;
}
.footer__paragraph {
  text-align: center;
  color: #7e7e82;
}

@media (min-width: 768px) {
  .footer {
    flex-direction: row;
    justify-content: space-between;
    padding: 31px 24px 24px;
  }
  .footer__paragraph:nth-child(1) {
    text-align: left;
  }
  .footer__paragraph:nth-child(3) {
    text-align: right;
    width: 212px;
  }
}
@media (min-width: 1120px) {
  .footer {
    padding: 31px 32px 24px;
  }
  .footer__paragraph:nth-child(3) {
    width: 330px;
  }
}