body {
  font-family: "TT Lakes", sans-serif;
  background-color: rgb(248, 248, 248);
  color: rgb(27, 28, 33);
  font-size: 14px;
  overflow-x: hidden;
}

html {
  box-sizing: border-box;
  --container-width: calc(1056px + var(--container-padding) * 2);
  --container-padding: 32px;
}

button {
  cursor: pointer;
}

.header__about {
  padding-top: 42px;
}

.container {
  max-width: var(--container-width);
  padding: 0 var(--container-padding);
  margin: 0 auto;
}

.nav {
  position: relative;
}
.nav__left {
  display: flex;
  align-items: center;
  gap: 20px;
}
.nav__right {
  display: flex;
  align-content: center;
  position: absolute;
  right: 0;
  top: 0;
}

.burger-menu {
  display: none;
  align-items: center;
  min-width: 40px;
  height: 40px;
  background-color: rgb(255, 62, 121);
  border-radius: 50%;
  cursor: pointer;
  padding: 0;
  border: none;
}
.burger-menu img {
  width: 40px;
  height: 40px;
}

.nav__logo {
  display: none;
}
.nav__logo::before {
  content: "";
  display: inline-block;
  width: 2px;
  height: 32px;
  border-radius: 2px;
  background-color: #eaeaea;
  margin-right: 20px;
}

.nav-links {
  display: flex;
  gap: 32px;
  padding-top: 42px;
  padding-right: calc(50vw - var(--container-width) / 2 + 34px);
  font-weight: 500;
}
.nav-links__item {
  height: 40px;
  display: flex;
  gap: 9px;
  align-items: center;
  font-size: 16px;
}
.nav-links__img {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 40px;
  min-height: 40px;
}
.nav-links > :nth-child(-n+3) {
  display: none;
}

.about__title {
  position: relative;
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 8px;
  z-index: -1;
}
.about__title::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 40px;
  top: -5px;
  left: -32px;
  border-radius: 3px;
  background-color: rgb(65, 246, 215);
}
.about__feedback {
  color: rgb(126, 126, 130);
  padding: 15px 0 19px 24px;
  font-size: 16px;
}
.about__row {
  display: flex;
  justify-content: space-between;
  padding-bottom: 51px;
  gap: 16px;
}
.about__image img {
  min-width: 531px;
  min-height: 308px;
}
.about__text {
  padding-bottom: 14px;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: all 0.4s ease-in;
}
.about__paragraph {
  line-height: 22px;
  max-width: 490px;
}
.about__paragraph + .about__paragraph {
  padding-top: 26px;
}
.about__read-more {
  display: flex;
  padding: 0 0 0 6px;
  gap: 16px;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  margin-top: 12px;
}

.category-list {
  display: flex;
  gap: 10px;
  overflow-y: auto;
  white-space: nowrap;
  scrollbar-width: none;
  margin-top: 32px;
  font-size: 16px;
}
.category-list::-webkit-scrollbar {
  display: none;
}
.category-list__item {
  color: rgb(126, 126, 130);
  padding: 8px 22px;
  user-select: none;
  transition: 0.2s;
}
.category-list__item--active {
  outline: 2px rgb(184, 255, 236) solid;
  border-radius: 6px;
  outline-offset: -2px;
  background-color: #fff;
}

@media screen and (width >= 1120px) {
  .about__title {
    margin-top: 45px;
  }
  .about__read-more {
    margin-top: 13px;
  }
  .category-list {
    margin-top: 20px;
    gap: 0px;
  }
}
@media screen and (max-width: 1119px) {
  html {
    --container-padding: 24px;
  }
  .nav-links {
    gap: 20px;
    padding: 0;
  }
  .nav-links > :nth-child(-n+3) {
    display: block;
  }
  .nav-links > :nth-last-child(2) {
    position: relative;
    margin-left: 20px;
  }
  .nav-links > :nth-last-child(2)::before {
    content: "";
    position: absolute;
    margin-top: 4px;
    top: 0;
    left: -20px;
    width: 2px;
    height: 32px;
    border-radius: 2px;
    margin-right: 20px;
    background-color: #eaeaea;
  }
  .nav-links__item {
    display: inline-block;
  }
  .nav-links__item span {
    display: none;
  }
  .nav {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    padding: 18px var(--container-padding);
  }
  .nav__right {
    position: inherit;
    display: block;
  }
  .burger-menu {
    display: flex;
  }
  .nav__logo {
    display: flex;
    align-items: center;
  }
  .nav__logo img {
    min-width: 97px;
    min-height: 51px;
  }
  .header__about {
    padding-top: 0;
  }
  .about__title {
    margin-top: 42px;
  }
  .about__title::before {
    left: -24px;
    top: -5px;
  }
  .about__row {
    margin-top: 32px;
  }
  .about__feedback {
    display: none;
  }
  .about__text {
    max-height: 160px;
  }
  .about__image img {
    min-width: 360px;
    min-height: 208px;
  }
  .about__read-more {
    margin-top: 10px;
  }
}
@media screen and (max-width: 767px) {
  html {
    --container-padding: 16px;
  }
  .nav-links {
    gap: 16px;
  }
  .nav-links > :nth-child(-n+3) {
    display: none;
  }
  .nav__logo::before {
    display: none;
  }
  .nav__left {
    gap: 16px;
  }
  .about__image img {
    min-width: 320px;
    min-height: 176px;
  }
  .about__row {
    flex-direction: column;
    align-items: center;
    margin-top: 24px;
  }
  .about__text {
    max-height: 90px;
  }
  .about__title::before {
    left: -16px;
    top: -5px;
  }
  .category-list {
    font-size: 14px;
  }
}
@media screen and (max-width: 320px) {
  .category-list {
    font-size: 14px;
  }
  .about__read-more {
    margin-top: 16px;
  }
}