$color-white: #ffffff;
$color-black: #1b1c21;
$color-gray: #7e7e82;
$color-light-gray: #eaeaea;
$color-light-blue: #41f6d7;
$color-pink: #ff3e79;
$color-dark-pink: #da3868;
$color-light-green: #b8ffec;
$color-light-gray-bg: #f8f8f8;
$color-light-gray-border: #d9fff5;
$color-scrollbar: #dddddd;
